/*@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/pt-sans.regular.woff) format("woff"), url(../fonts/PTSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/pt-sans.bold.woff) format("woff"), url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

/*Хэдер*/
.main-header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
   flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.main-header-list-item {
  width: 240px;
  min-height: 56px;
  text-align: left;
  vertical-align: middle;
}

.main-header-list-item:first-child {
  padding-left: 74px;
}

.main-header-list-item:nth-child(3) {
  margin-left: auto;
  text-align: right;
 }

.main-header-list-item:last-child {
  padding-right: 74px;
  text-align: right;
}

.main-header-logo {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main-header-link {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  letter-spacing: inherit;
}

.main-header-link:hover,
.main-header-link:focus {
  color: #81b3d2;
}

.main-header-link:active {
  color: #000000;
  opacity: 0.3;
}

/*Мэйн*/
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.greeting-logo {
  width: 100%;
  height: 353px;
  padding: 76px 0 79px;
  text-align: center;
  background:  url("../img/mask-shape.png") no-repeat  0 100%,
              #81b3d2 url("../img/greeting-mountains.jpg") no-repeat 0 22%;
}

.promo {
  padding-top: 60px;
  padding-bottom: 50px;
}

.promo-heading,
.promo-text {
  margin: 0 auto;
  line-height: 26px;
  text-align: center;
}

.promo-heading {
  width: 490px;
  margin-bottom: 28px;
  font-size: 21px;
}

.reason-blue-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-blue {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 58px;
}

.reason-title {
  width: 151px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  color: inherit;
}

.reason-number {
  display: block;
  margin-top: 24px;
  margin-bottom: 22px;
}

.reason-blue-desc {
  width: 290px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
}

.reason-blue:last-of-type .reason-blue-desc {
  width: 305px;
}

.pic-left-side {
  background: #81b3d2 url("../img/canyon.jpg") no-repeat;
}

.pic-right-side {
  background: #81b3d2 url("../img/motel.jpg") no-repeat;
}

.reason-pic {
  width: 800px;
  height: 256px;
}

.advices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 55px;
  padding-bottom: 80px;
}

.advice {
  width: 400px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advice-title {
  width: 285px;
  margin: 30px auto 25px;
  font-size: 21px;
}

.advice-desc {
  width: 285px;
  margin: 0 auto;
}

.advice-icon {
  width: 75px;
  height: 76px;
}

.advice-house {
  margin: 2px auto -2px;
  background: url("../img/house-icon.svg") 50% 50% no-repeat;
}

.advice-food {
  margin: 2px auto -2px;
  background: url("../img/food-icon.svg") 50% 50% no-repeat;
}

.advice-gift {
  margin: 0 auto;
  background: url("../img/gift-icon.svg") 50% 50% no-repeat;
}

.reasons-grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  text-align: center;
  background-color: #eeeeee;
  z-index: 100;
}

.reason-grey {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 58px;
}

.reason-grey-desc {
  width: 262px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
}

.reason-grey:last-of-type .reason-grey-desc {
  width: 250px;
}

.reason-grey-number {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.interested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 240px;
  padding-top: 52px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  z-index: 100;
}

.interested-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.interested-desc {
  margin: 0;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
}

.btn-search {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #604e43;
}

.btn-search:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

/*----Форма в Мэйне начало-----*/
.block-form {
  position: relative;
}

.search-form {
  z-index: 10;
  position: absolute;
  top: -400px;
  left: 316px;
  width: 458px;
  margin: 0 auto;
  padding: 55px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.2);
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-input {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: inherit;
}

.form-input:hover {
  background-color: #ebebeb;
}

.form-input:active,
.form-input:focus {
	-webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
	box-shadow: inset 0 0 0 2px #e5e5e5;
	background-color: #ffffff;
}

.form-input::-webkit-input-placeholder {
  color: inherit;
}

.form-input:-ms-input-placeholder {
  color: inherit;
}

.form-input::-ms-input-placeholder {
  color: inherit;
}

.form-input::placeholder {
  color: inherit;
}

.form-input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.date {
  width: 345px;
  height: 38px;
  padding-left: 12px;
}

.form-label {
  display: inline-block;
  width: 112px;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  text-align: left;
}

.form-btn {
  outline: 0;
  border: 0;
  font-size: 0;
}

.btn-calendar {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 21px;
  height: 22px;
  margin: 0;
  padding: 0;
  background: transparent;
}

.btn-calendar:hover {
  cursor: pointer;
}

.btn-calendar:hover .btn-calendar-svgpath,
.btn-calendar:focus .btn-calendar-svgpath {
  fill:rgba(0, 0, 0, 1)
}

.btn-calendar:active .btn-calendar-svgpath {
  fill: #81b3d2;
}

.half-form-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 55px;
}

.half-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 38px;
}

.half-row-adults,
.half-row-kids {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 114px;
  height: 38px;
}

.half-row-input {
  width: 114px; 
  text-align: center;
}

.half-row-adults-label {
  width: 113px;
  padding: 0;
  text-align: left;
}

.half-row-kids-label {
  width: 113px;
  padding-right: 25px;
  text-align: right;
}

.half-row-btn {
  position: absolute;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
  vertical-align: middle;
  background-color: transparent;
}

.half-row-btn:hover {
  cursor: pointer;
}

.btn-minus {
  top: 18px;
  left: 13px;
}

.btn-plus {
  top: 14px;
  right: 14px;
}

.half-row-input::-webkit-input-placeholder {
  text-align: center;
}

.half-row-input:-ms-input-placeholder {
  text-align: center;
}

.half-row-input::-ms-input-placeholder {
  text-align: center;
}

.half-row-input::placeholder {
  text-align: center;
}

.half-row-btn:hover .half-row-svgpath,
.half-row-btn:focus .half-row-svgpath {
  fill: rgba(0, 0, 0, 1);
}

.half-row-btn:active .half-row-svgpath {
  fill: #81b3d2;
}

.label-kids {
  width: 65px;
}

.form-btn-search {
  display: inline-block;
  width: 100%;
  padding: 16px 0;
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.form-btn-search:hover,
.form-btn-search:focus {
  background-color: #669ec0;
  cursor: pointer;
}

.form-btn-search:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
/*----Форма в Мэйне конец-----*/

.map {
  height: 593px;
  background: #ffffff url(../img/map.jpg) 50% 0 no-repeat;
  background-size: 100%;
}

.map-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*Футер*/
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.8);
}

.index-footer {
  position: absolute;
  bottom: 0px;
}

.footer-block {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  text-align: center;
}

.visit-hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social-btns {
  display: inline-block;
  text-align: center;
}

.social-btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 2px;
  font-size: 0px;
  color: inherit;
  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}
.social-btn-tw::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 17px;
  height: 15px;
  background: url("../img/twitter.svg");
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 22px;
  background: url("../img/facebook.svg");
}

.social-btn-yt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 16px;
  background: url("../img/youtube.svg");
}

.social-btn-tw:active::before,
.social-btn-fb:active::before, 
.social-btn-yt:active::before {
  opacity: 0.3;
}


.footer-copyright-desc,
.footer-copyright-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.footer-copyright-desc {
  margin-right: 4px;
  margin-top: -2px;
  font-size: 14px;
  line-height: 26px;
  color: inherit;
}

.footer-copyright-logo {
  width: 115px;
  height: 41px;
}

.footer-copyright-logo-svgpath {
	fill: rgba(0, 0, 0, 1);
}

.footer-copyright-logo:hover .footer-copyright-logo-svgpath,
.footer-copyright-logo:focus .footer-copyright-logo-svgpath {
  fill: #81b3d2;
}

.footer-copyright-logo:active .footer-copyright-logo-svgpath {
  fill: rgba(0, 0, 0, 0.3);
}

/* СТРАНИЦА КАТАЛОГА */
.catalog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.filters {
  padding: 28px 72px;
  color: #ffffff;
  background: #4e7faa url("../img/catalog-filter.jpg") no-repeat 0 15%;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.filters-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.filter-infrastructure,
.filter-house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  vertical-align: top;
  width: 255px;
  margin: 0;
  padding: 0;
}

.filter-infrastructure,
.filter-house,
.filter-price {
  outline: none;
  border: none;
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filters-legend {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.filters-label {
  display: block;
  position: relative;
  width: 100px;
  min-height: 23px;
  margin-bottom: 23px;
  padding-left: 40px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.filters-label:last-of-type {
  margin-bottom: 0;
}

.filter-checkbox + .filters-label:before {
	content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg")  no-repeat;
}

.filter-checkbox:disabled + .filters-label,
.filter-checkbox:checked:disabled + .filters-label {
  opacity: 0.5;
}

.filter-checkbox:checked + .filters-label:before {
	content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.svg")  no-repeat;
}

.filter-checkbox:hover + .filters-label,
.filter-checkbox:focus + .filters-label {
  font-weight: bold;
}

.filter-checkbox:focus + .filters-label{
	outline: 2px solid #a5c7fe;
}

.filter-price {
  width: 318px;
  padding: 0;
}

.filter-legend-price {
  margin-bottom: 9px;
}

.price {
  display: block;
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-label {
  display: inline-block;
  vertical-align: top;
  padding-left: 65px;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  cursor: pointer;
}

.price-input {
  width: 50px;
  margin: 0;
  margin-left: 3px;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

.price-input:focus {
	outline: 2px solid #a5c7fe;
}

.price-input::-webkit-input-placeholder {
  color: inherit;
}
.price-input:-ms-input-placeholder {
  color: inherit;
}
.price-input::-ms-input-placeholder {
  color: inherit;
}
.price-input::placeholder {
  color: inherit;
}

.price-input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.range-art {
  position: relative;
  margin-bottom: 32px;
}

.band {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.band-active {
  width: 80%;
  height: 2px;
  background: rgba(255, 255, 255, 1);
}

.range-circle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 21px;
  background-image: url("../img/filter-button.svg");
}
 
.range-circle:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.range-min {
  left: 0;
}

.range-max {
  left: 80%;
}

.btn-show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  background: transparent;
}

.btn-show:hover,
.btn-show:focus {
  color: #000000;
  background: #ffffff;
}

.sorting-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-option-found {
  width: 165px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
}

.sorting-type-title {
  display: inline-block;
  width: 115px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.sorting-type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-type-item {
  display: inline-block;
  vertical-align: middle;
  width: 82px;
}

.sorting-type-link {
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type-link:hover,
.sorting-type-link:focus {
  color: #81b3d2;
}

.sorting-type-link:active {
  border: none;
  color: #000000;
}

.btn-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-arrow {
  font-size: 0;
  width: 11px;
  height: 10px;
}

.btn-arrow-down {
  margin-left: 11px;
}

.btn-up-svgpath {
  opacity: 0.3;
}

.btn-down-svgpath {
  opacity: 0.3;
}

.btn-arrow:hover .btn-up-svgpath,
.btn-arrow:focus .btn-up-svgpath,
.btn-arrow:hover .btn-down-svgpath,
.btn-arrow:focus .btn-down-svgpath {
  opacity: 1;
}

.btn-arrow:active .btn-up-svgpath,
.btn-arrow:active .btn-down-svgpath {
  fill: #81b3d2;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 72px 22px;
  border-bottom: 1px solid #e5e5e5;
}

.result-pic {
  width: 135px;
  margin: 5px 30px 0 0;
  padding: 0;
}

.result-content {
  width: 895px;
}

.row-result-title-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 5px;
  font-size: 0;
  text-align: right;
}

.result-title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.result-title-link {
  color: #000000;
}

.result-title-link:hover,
.result-title-link:focus {
  color: #81b3d2;
}

.result-title-link:active {
  opacity: 0.3;
}

.rating-count-star {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background: #ffffff url("../img/star.svg") no-repeat;
}

.rating-count-star:last-of-type {
  margin-right: 0;
}

.result-info {
  margin: 7px 0 13px;
  font-size: 14px;
  line-height: 21px;
}

.house-type {
  display: inline-block;
  margin-right: 8px;
  width: 105px;
}

.row-result-action-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating {
  margin-left: auto;
  padding: 0 16px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}

.result-action-btn {
  padding: 5px 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.btn-more-info {
  margin-right: 3px;
  background-color: #81b3d2;
}

.btn-more-info:hover,
.btn-more-info:focus {
  background-color: #669ec0;
}

.btn-more-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-reserve {
  background-color: #766357;
}

.btn-reserve:hover,
.btn-reserve:focus {
  background-color: #604e43;
}

.btn-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*Анимация*/

@-webkit-keyframes showdown {
  to {
  	-webkit-transform: translateY(400px);
  	transform: translateY(400px);
  }
}

@keyframes showdown {
  to {
  	-webkit-transform: translateY(400px);
  	transform: translateY(400px);
  }
}

.popup-down {
	-webkit-animation-name: showdown;
	animation-name: showdown;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

/*Активные элементы*/

.active-link {
  color: #766357;  
  cursor: default; 
}

.active-link:hover,
.active-link:focus {
  color: #604e43;
}

.active-link:active {
  opacity: 0.3;
  color: #766357;
}

.active-sorting-type-link {
  border-bottom: none;
  opacity: 1;
  color: #81b3d2;
  cursor: default;
}

.btn-arrow-svgpath-active {
  fill: #81b3d2;
  cursor: default;
  opacity: 1;
}